.blog-content {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 12px;
  }
  
  .blog-content h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .blog-content p {
    margin-bottom: 10px;
  }
  
  .blog-content em {
    font-style: italic;
  }

  .blog-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .blog-content li {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 700;
    height: 100%;
  }

  .blog-content li::marker {
    font-size: 26px;
    color: #FFCC29;
  }
  
  /* Media queries for screen sizes */

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px */
  .blog-content {
    font-size: 14px;
    line-height: 1.3;
  }

  .blog-content h2 {
    font-size: 20px;
  }

  .blog-content li {
    font-size: 16px;
  }

  .blog-content li::marker {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  /* Styles for screens with a maximum width of 480px */
  .blog-content {
    font-size: 12px;
    line-height: 1.2;
  }

  .blog-content h2 {
    font-size: 18px;
  }

  .blog-content li {
    font-size: 14px;
  }

  .blog-content li::marker {
    font-size: 16px;
  }
}